# Environment Configuration for Nexus Enterprise Lab
COMPOSE_PROJECT_NAME=nexus-enterprise-lab
POSTGRES_DB=nexus_prod
POSTGRES_USER=nexus_admin
POSTGRES_PASSWORD=Nexu$Prod2026!Sec
MINIO_ROOT_USER=nexus_san_root
MINIO_ROOT_PASSWORD=SuperS3cUr3_B4ckup_Vault_Pass_2026!
